.home {
	margin-left: 15%;
	margin-top: 5%;
	width: 70%;
	color: #004c3f;
}

.searchHeader {
	border-style: solid;
	border-color: #004c3f;
	min-height: 100px;
}

.leftPane {
	margin-top: 2.5%;
	min-height: 150px;
	border-style: solid;
	border-color: #004c3f;

}

.rightPane {
	margin-top: 2.5%;
	min-height: 150px;
	border-style: solid;
	border-color: #004c3f;
}

h1 {
	padding-bottom: 10px;
	
}
