body {
	background-color: #f2f2f2;
}

.home {
	margin-left: 15%;
	margin-top: 5%;
	width: 70%;
}

#title {
	margin-bottom: 3%;
}

.search {
	background-color: white;
}

.leftPane {
	margin-top: 1.5%;
	float: left;
	width: 49%;
	min-height: 150px;

}

.rightPane {
	margin-top: 1.5%;
	float: right;
	width: 49%;
	min-height: 150px;
}